/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import "katex/dist/katex.min.css";

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  background: none;
}

/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(../../static/images/moonnight.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-color: #0e0c0f;
} */

body {
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #0e0c0f url(../../static/images/moonnight2.jpg) top center/cover no-repeat fixed;
  isolation: isolate; 
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1; 
  pointer-events: none;
}

h1 {
  font-family: "Cairo", sans-serif;
  color: white;
}

h3 {
  font-family: "Cairo", sans-serif;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.app {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-family: "Cairo", sans-serif;
  color: white;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}


h2,
h3 {
  font-family: "Cairo", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

.foot {
  text-align: center;
  color: darkgray;
  margin: 20px;
  margin-top: 100px;
}

.jumbotron {
  padding: 0;
  margin: 1rem 0 1rem 0;
}

p {
  font-size: 1.15rem;
}

.table-of-contents__link {
  font-size: 1rem;
}

.generatedIndexPage_vN6x {
  min-height: calc(75vh - var(--ifm-navbar-height));
  display: flex;
  flex-direction: column;
}

.generatedIndexPage_vN6x > article {
  flex-grow: 1;
}